In [12]:
import pandas as pd

# Ruta del archivo
file_path = 'data_privada/Reporte.xlsx'

# Cargar todas las hojas
# sheet_name=None carga todas las hojas en un diccionario de DataFrames
dfs = pd.read_excel(file_path, sheet_name=None)

# Mostrar los nombres de las hojas cargadas
print("Hojas cargadas:", dfs.keys())

Hojas cargadas: dict_keys(['Fechas', 'Seguimiento', 'Delivery', 'Expo bebe', 'Clientes', 'Nombres', 'Ventas', 'Interbank', 'Lista', 'Gastos', 'Facturas', 'BBVA', 'Hoja1', 'Historia Venta', 'Rotación productos', 'Evolución costos', 'Detalle1', 'Lista de precios', 'Gasto Redes', 'Nación'])

In [13]:
dfs['Clientes'].head()

,ID Cliente,Origen,Sub Origen,Nota,Enviar,Nombre completo,Nombre,Nombre Apellido,Comentario en google,Celular,...,Cumpleaños,Correo,Dirección,Distrito,Provincia,Departamento,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1.0,Feria,APOA,Medico sin definir,Si,Gladys Suca Puca,Gladys,Gladys Suca Puca,NO,51992797017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Feria,Nutriemprende,Licenciado en Nutrición,Si,Nayla Garcia Gargatt,Nayla,Nayla Garcia Gargatt,NO,51954689908,...,NaN,naylagarciang08@gmail.com,NaN,Huacho,Huaura,Lima,NaN,Huacho,Huaura,Lima
2,3.0,Feria,Corporativa,NaN,No,ABZ Ingenieros,ABZ Ingenieros,ABZ Ingenieros,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,Si,Adolfo Jesús Samaniego Enriquez,Adolfo,Adolfo Jesús Samaniego Enriquez,NO,51994725257,...,1992-02-03 00:00:00,NaN,"Av. de las Artes Sur 373, dpto 402",San Borja,Lima,Lima,NaN,San Borja,Lima,Lima
4,5.0,Feria,STARPERÚ,NaN,Si,Adolfo Saldaña,Adolfo,Adolfo Saldaña,NO,51933423504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
dfs['Clientes'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID Cliente            1741 non-null   float64
 1   Origen                1874 non-null   object
 2   Sub Origen            1864 non-null   object
 3   Nota                  125 non-null    object
 4   Enviar                1904 non-null   object
 5   Nombre completo       1904 non-null   object
 6   Nombre                1898 non-null   object
 7   Nombre Apellido       1903 non-null   object
 8   Comentario en google  1903 non-null   object
 9   Celular               1761 non-null   object
 10  DNI                   592 non-null    object
 11  Cumpleaños            451 non-null    object
 12  Correo                677 non-null    object
 13  Dirección             556 non-null    object
 14  Distrito              733 non-null    object
 15  Provincia             735 non-null    object
 16  Departamento          735 non-null    object
 17  Unnamed: 17           0 non-null      float64
 18  Unnamed: 18           694 non-null    object
 19  Unnamed: 19           693 non-null    object
 20  Unnamed: 20           693 non-null    object
dtypes: float64(2), object(19)
memory usage: 312.5+ KB

In [15]:
dfs['Delivery'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Fecha de envío     1004 non-null   object
 1   Empresa            1004 non-null   object
 2   Cliente            1004 non-null   object
 3   Dirección          931 non-null    object
 4   Departamento       931 non-null    object
 5   Provincia          931 non-null    object
 6   Distrito           931 non-null    object
 7   Empresa Delivery   978 non-null    object
 8   Costo Delivery     1004 non-null   float64
 9   Fecha de pago      1004 non-null   datetime64[ns]
 10  Medio de pago      923 non-null    object
 11  Numero de Factura  29 non-null     object
 12  Fecha de Factura   29 non-null     datetime64[ns]
 13  Monto Facturado    409 non-null    float64
 14  En ruta            1004 non-null   object
 15  Comentario         110 non-null    object
dtypes: datetime64[ns](2), float64(2), object(12)
memory usage: 125.6+ KB

In [16]:
dfs['Ventas'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20532 entries, 0 to 20531
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   N°                      20506 non-null  float64
 1   Fecha Entrega           20532 non-null  object
 2   Empresa                 20532 non-null  object
 3   Segmento                20526 non-null  object
 4   Vendedor                8093 non-null   object
 5   Cliente                 20530 non-null  object
 6   Identificador           20532 non-null  object
 7   Producto                20532 non-null  object
 8   Cantidad                20532 non-null  float64
 9   Precio Venta (sin IGV)  15769 non-null  float64
 10  Precio Venta            20532 non-null  float64
 11  Descuento               2243 non-null   float64
 12  Precio Venta Total      20532 non-null  float64
 13  Categoría               20532 non-null  object
 14  Marca                   20532 non-null  object
 15  Estado Entrega          20532 non-null  object
 16  Estado de Pago          20532 non-null  object
 17  Medido de Pago          11980 non-null  object
 18  Fecha de pago           11453 non-null  object
 19  Comprobante             10882 non-null  object
 20  Fecha comprobante       10824 non-null  object
 21  Monto Comprobante       11431 non-null  float64
 22  Ganancia neta           19548 non-null  float64
 23  Variación               20530 non-null  float64
 24  Unnamed: 24             169 non-null    object
 25  Unnamed: 25             111 non-null    float64
 26  Unnamed: 26             10 non-null     object
 27  Unnamed: 27             9 non-null      object
dtypes: float64(10), object(18)
memory usage: 4.4+ MB

In [17]:
dfs['Fechas'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3420 entries, 0 to 3419
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 1  0 non-null      float64
 2   Unnamed: 2  3420 non-null   object
dtypes: float64(2), object(1)
memory usage: 80.3+ KB