# Proceso ETL

## Carga inicial de datos de excel a df

In [97]:
import pandas as pd

# Ruta del archivo
file_path = 'data_privada/Reporte.xlsx'

# Cargar todas las hojas
# sheet_name=None carga todas las hojas en un diccionario de DataFrames
dfs = pd.read_excel(file_path, sheet_name=None)

# Mostrar los nombres de las hojas cargadas
print("Hojas cargadas:", dfs.keys())

Hojas cargadas: dict_keys(['Fechas', 'Seguimiento', 'Delivery', 'Expo bebe', 'Clientes', 'Nombres', 'Ventas', 'Interbank', 'Lista', 'Gastos', 'Facturas', 'BBVA', 'Hoja1', 'Historia Venta', 'Rotación productos', 'Evolución costos', 'Detalle1', 'Lista de precios', 'Gasto Redes', 'Nación'])

## Trabajando con la informacion de Clientes

In [98]:
#Extraer datos de tabla Clientes a DataFrame
df_clientes = dfs['Clientes']
df_clientes.head()

,ID Cliente,Origen,Sub Origen,Nota,Enviar,Nombre completo,Nombre,Nombre Apellido,Comentario en google,Celular,...,Cumpleaños,Correo,Dirección,Distrito,Provincia,Departamento,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1.0,Feria,APOA,Medico sin definir,Si,Gladys Suca Puca,Gladys,Gladys Suca Puca,NO,51992797017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Feria,Nutriemprende,Licenciado en Nutrición,Si,Nayla Garcia Gargatt,Nayla,Nayla Garcia Gargatt,NO,51954689908,...,NaN,naylagarciang08@gmail.com,NaN,Huacho,Huaura,Lima,NaN,Huacho,Huaura,Lima
2,3.0,Feria,Corporativa,NaN,No,ABZ Ingenieros,ABZ Ingenieros,ABZ Ingenieros,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,Si,Adolfo Jesús Samaniego Enriquez,Adolfo,Adolfo Jesús Samaniego Enriquez,NO,51994725257,...,1992-02-03 00:00:00,NaN,"Av. de las Artes Sur 373, dpto 402",San Borja,Lima,Lima,NaN,San Borja,Lima,Lima
4,5.0,Feria,STARPERÚ,NaN,Si,Adolfo Saldaña,Adolfo,Adolfo Saldaña,NO,51933423504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
# Ver info de Dataframe
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID Cliente            1741 non-null   float64
 1   Origen                1874 non-null   object
 2   Sub Origen            1864 non-null   object
 3   Nota                  125 non-null    object
 4   Enviar                1904 non-null   object
 5   Nombre completo       1904 non-null   object
 6   Nombre                1898 non-null   object
 7   Nombre Apellido       1903 non-null   object
 8   Comentario en google  1903 non-null   object
 9   Celular               1761 non-null   object
 10  DNI                   592 non-null    object
 11  Cumpleaños            451 non-null    object
 12  Correo                677 non-null    object
 13  Dirección             556 non-null    object
 14  Distrito              733 non-null    object
 15  Provincia             735 non-null    object
 16  Departamento          735 non-null    object
 17  Unnamed: 17           0 non-null      float64
 18  Unnamed: 18           694 non-null    object
 19  Unnamed: 19           693 non-null    object
 20  Unnamed: 20           693 non-null    object
dtypes: float64(2), object(19)
memory usage: 312.5+ KB

In [100]:
# Obtener clientes con duplicados y crear lista de nombres únicos

df_clientes_dupli = df_clientes[df_clientes['Nombre completo'].duplicated(keep=False)]
df_clientes_dupli = df_clientes_dupli[['Nombre Apellido', 'Dirección']]
df_clientes_dupli
df_clientes_nombres_unicos = df_clientes_dupli['Nombre Apellido'].drop_duplicates().tolist()
df_clientes_nombres_unicos

['Alejandra Victoria Gutiérrez Honores',
 'Ana Miluska Martina Zegarra Figueroa',
 'Andrés + Gisella',
 'Ángela Gabriela Vallejos Gutierrez de Fuente',
 'Benigno Lima',
 'Casa',
 'Cecilia Vergara',
 'Clorinda Quispe',
 'Dayana Subhey Ibarra Bringas',
 'Diana Torres',
 'Elizabeth',
 'Emilia Sotelo',
 'Erick Japay',
 'Gissela Carrasco Baldeón',
 'Gloria Ysabel Magallanes Lopez',
 'Haydee Ayma Huallpa',
 'Janeth Churata',
 'Jose Carlos Duran ',
 'Zanabria',
 'Julissa Díaz',
 'Kerly Zabastizagal',
 'Liliana Hoffmann',
 'Lisbeth Sánchez Torres',
 'Luis Salazar',
 'Salazar',
 'María del Carmen Cáceres Ríos',
 'María Cieza',
 'María Bringas',
 'María Ormeño',
 'Maribel Flores',
 'Mariela Fernanda Paredes Wong',
 'Marny Silva',
 'Martha Margarita Rodríguez Salazar',
 'Mayra Fiorella Sánchez Soyer',
 'Mewsette Pozo',
 'Miguel Angel Rosado Bustamante',
 'Murga',
 'Nelluy Murga',
 'NI',
 nan,
 'Nicole Alexandra Valdez Gonzales ',
 'Nutripack',
 'Sheila Giuliana La Serna Jordan',
 'Sonia Ruth Benavides Valera',
 'Palma',
 'Munaris',
 'Tatiana Munaris',
 'Gabriela Lorena Perez Ayme',
 'Rafael Eliseo Saenz Valladares',
 'Stefany Palma Diaz',
 'Elvira Palomino Caycho',
 'Roxana Ruth Soncco Paucar',
 'Yolanda Elizabeth Menendez Bolaños',
 'Nancy Gisell Castillo Montenegro',
 'Daniel Edinson Chancafe Rosas']

In [101]:
# Obtener datos de deliverys

df_delivery = dfs['Delivery']
df_delivery

,Fecha de envío,Empresa,Cliente,Dirección,Departamento,Provincia,Distrito,Empresa Delivery,Costo Delivery,Fecha de pago,Medio de pago,Numero de Factura,Fecha de Factura,Monto Facturado,En ruta,Comentario
0,2020-09-03 00:00:00,Nutripack,Alfredo Kenji Lau-Tam Oyafuso,NaN,NaN,NaN,NaN,NaN,14.30,2020-09-03,NaN,NaN,NaT,0.00,No,NaN
1,2020-09-26 00:00:00,Nutripack,Fátima Cabello,"Jr. Talara 160, dpto 503 A",Lima,Lima,Jesus Maria,Desconocido,16.00,2020-09-26,NaN,NaN,NaT,0.00,No,NaN
2,2020-11-17 00:00:00,Nutripack,Fátima Cabello,"Jr. Talara 160, dpto 503 A",Lima,Lima,Jesus Maria,Desconocido,16.00,2020-11-17,NaN,NaN,NaT,0.00,No,NaN
3,2020-11-27 00:00:00,Nutripack,María del Carmen Cáceres Ríos,"Av. Javier Prado Este 292 dpto F 102, Condomin...",Lima,Lima,La Molina,Desconocido,8.30,2020-11-27,BCP,NaN,NaT,0.00,No,NaN
4,2020-12-02 00:00:00,Nutripack,Erick Japay,NaN,NaN,NaN,NaN,NaN,24.84,2020-12-02,BCP,NaN,NaT,0.00,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,2025-11-17 00:00:00,Nutripack,Liliana Jakeliny Ferroñan Vilchez,Av. Chimbote Mz L Lote 9 Urbanización Buenos A...,Ancash,Santa,Chimbote,Olva,15.21,2025-11-17,YAPE,F477-01435796,2025-11-17,15.21,No,Entrega en agencia
1000,2025-11-17 00:00:00,Nutripack,Rafael Eliseo Saenz Valladares,"Psj. Leonidas Laserre, Urb. Las Praderas de Su...",Lima,Lima,Santiago de Surco,Indriver,10.00,2025-11-17,YAPE,NaN,NaT,NaN,No,NaN
1001,2025-11-18 00:00:00,Nutripack,Andrea Cecilia Tapia Cochaches,"Ca. El Arroyo Mz I Lt 58, Las praderas de Sant...",Lima,Lima,Santa Anita,Indriver,12.00,2025-11-18,YAPE,NaN,NaT,NaN,No,NaN
1002,2025-11-18 00:00:00,Nutripack,Yolanda García,Jr. Breton 271,Lima,Lima,San Borja,Indriver,5.00,2025-11-18,YAPE,NaN,NaT,NaN,No,NaN
1003,2025-11-19 00:00:00,Nutripack,Olga Fiorella Huatuco Collantes,"Jr. El Velero 530, Urb. Las Lagunas de la Molina",Lima,Lima,La Molina,Indriver,10.00,2025-11-19,YAPE,NaN,NaT,NaN,No,NaN

In [102]:
# Filtrar df_delivery con los nombres únicos de df_clientes

df_delivery_filtrado = df_delivery[df_delivery['Cliente'].isin(df_clientes_nombres_unicos)]

df_delivery_filtrado

,Fecha de envío,Empresa,Cliente,Dirección,Departamento,Provincia,Distrito,Empresa Delivery,Costo Delivery,Fecha de pago,Medio de pago,Numero de Factura,Fecha de Factura,Monto Facturado,En ruta,Comentario
3,2020-11-27 00:00:00,Nutripack,María del Carmen Cáceres Ríos,"Av. Javier Prado Este 292 dpto F 102, Condomin...",Lima,Lima,La Molina,Desconocido,8.30,2020-11-27,BCP,NaN,NaT,0.0,No,NaN
4,2020-12-02 00:00:00,Nutripack,Erick Japay,NaN,NaN,NaN,NaN,NaN,24.84,2020-12-02,BCP,NaN,NaT,0.0,No,NaN
7,2020-12-11 00:00:00,Nutripack,Haydee Ayma Huallpa,NaN,NaN,NaN,NaN,NaN,6.12,2020-12-11,BCP,NaN,NaT,0.0,No,NaN
9,2020-12-18 00:00:00,Nutripack,María del Carmen Cáceres Ríos,"Av. Javier Prado Este 292 dpto F 102, Condomin...",Lima,Lima,La Molina,Desconocido,6.00,2020-12-18,BCP,NaN,NaT,0.0,No,NaN
11,2021-01-08 00:00:00,Nutripack,María del Carmen Cáceres Ríos,"Av. Javier Prado Este 292 dpto F 102, Condomin...",Lima,Lima,La Molina,Desconocido,7.00,2020-12-10,NaN,NaN,NaT,0.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,2025-11-03 00:00:00,Nutripack,Yolanda Elizabeth Menendez Bolaños,Av. La Encalada 1425,Lima,Lima,Santiago de Surco,Indriver,9.30,2025-11-03,YAPE,NaN,NaT,NaN,No,NaN
987,2025-11-08 00:00:00,Nutripack,Gloria Ysabel Magallanes Lopez,"Ca. Luis Pasteur 1228, dpto 302",Lima,Lima,Lince,Indriver,10.10,2025-11-06,YAPE,NaN,NaT,NaN,No,NaN
988,2025-11-10 00:00:00,Nutripack,Roxana Ruth Soncco Paucar,Av. La Floresta 497,Lima,Lima,San Borja,Indriver,5.00,2025-11-10,YAPE,NaN,NaT,NaN,No,NaN
991,2025-11-12 00:00:00,Nutripack,Yolanda Elizabeth Menendez Bolaños,Av. La Encalada 1425,Lima,Lima,Santiago de Surco,Indriver,6.20,2025-11-12,YAPE,NaN,NaT,NaN,No,NaN
1000,2025-11-17 00:00:00,Nutripack,Rafael Eliseo Saenz Valladares,"Psj. Leonidas Laserre, Urb. Las Praderas de Su...",Lima,Lima,Santiago de Surco,Indriver,10.00,2025-11-17,YAPE,NaN,NaT,NaN,No,NaN

In [103]:
# Contar cantidad de envios por cliente y por dirección

df_delivery_most_frequent_address = df_delivery_filtrado.groupby(['Cliente', 'Dirección']).size().reset_index(name='count')
df_delivery_most_frequent_address

,Cliente,Dirección,count
0,Alejandra Victoria Gutiérrez Honores,"Ca. Claude Monteverdi 175, dpto 202",6
1,Alejandra Victoria Gutiérrez Honores,"Jr. 28 de Julio 261, dpto 603 (Ref. Av. Brasil...",16
2,Ana Miluska Martina Zegarra Figueroa,"Av. Intihuatana 431, dpto 203",1
3,Ana Miluska Martina Zegarra Figueroa,"Ca. Matarani 248, dpto 502, Urb. Tambo de Mont...",1
4,Cecilia Vergara,Av. Mariano Cornejo 1299 (Ref. 2 cdras. Plaza ...,1
...,...,...,...
58,Sonia Ruth Benavides Valera,Ca. Pietro Marchand 145,1
59,Yolanda Elizabeth Menendez Bolaños,Av. La Encalada 1425,4
60,Yolanda Elizabeth Menendez Bolaños,Av.La Floresta 497,1
61,Ángela Gabriela Vallejos Gutierrez de Fuente,"Av. Circunvalacion del Golf Los Incas 843, dpt...",1
62,Ángela Gabriela Vallejos Gutierrez de Fuente,Jr. Los Lanceros 142 Urb. Los Cedros (Ref. Cd...,18

In [104]:
# Separar la dirección con más repeticiones por cliente

df_delivery_most_frequent_address = df_delivery_most_frequent_address.loc[df_delivery_most_frequent_address.groupby('Cliente')['count'].idxmax()] # agrupa por cliente, luego bus el valor más alto de 'count' y devuelve su índice. Con este valor la funcion 'loc' devuelve la fila con el valor más alto de 'count' 
df_delivery_most_frequent_address

,Cliente,Dirección,count
1,Alejandra Victoria Gutiérrez Honores,"Jr. 28 de Julio 261, dpto 603 (Ref. Av. Brasil...",16
2,Ana Miluska Martina Zegarra Figueroa,"Av. Intihuatana 431, dpto 203",1
5,Cecilia Vergara,Ca. Cuathemoc 269 Urb. Maranga (Ref. cdra 3 de...,3
7,Daniel Edinson Chancafe Rosas,Jr. Tacna 3852,3
9,Dayana Subhey Ibarra Bringas,Av. Sancho Rivera 1108,14
11,Elvira Palomino Caycho,Jr. Nazca 458,2
12,Emilia Sotelo,"Jr. Nicolás Rodrigo 365, dpto 102 torre A Cond...",35
14,Erick Japay,"AH Santa María Mz A Lt 21 (-12.042195, -76.923...",5
16,Gabriela Lorena Perez Ayme,"Calle Chinchón 1018 piso 7, San Isidro",1
17,Gissela Carrasco Baldeón,Av. Mariscal Cáceres 163,2
19,Gloria Ysabel Magallanes Lopez,"Ca. Luis Pasteur 1228, dpto 302",10
21,Haydee Ayma Huallpa,Jr. Los Cibeles 190 (Ref. frente al complejo p...,5
23,Janeth Churata,"Los Canarios 1238 (Ref. -12.0137085,-77.0004493)",4
24,Julissa Díaz,"Av. El Derby 254, ofi. 903",1
25,Liliana Hoffmann,Habichtweg 17 Herten 45699 (País: Alemania),1
27,Lisbeth Sánchez Torres,"Av. Arenales 1475, dpto 1108",5
31,Marny Silva,"Ca. 15, Alameda de Ate 2da etapa Mz LL, Lt 10 ...",5
34,Martha Margarita Rodríguez Salazar,Av. Jorge Díaz Velázquez Mz D2 Lt 10 Sector 3 ...,8
37,María Cieza,"Jr. José Nicolás Rodrigo 365, dpto 523",1
39,María del Carmen Cáceres Ríos,"Jr. República del Libano 155, dpto 303",48
40,Mayra Fiorella Sánchez Soyer,Av. San Luis 1923,1
42,Mewsette Pozo,"Av. La Paz 3005, ofi. 301",1
44,Miguel Angel Rosado Bustamante,"Av. Alameda Sur, cdra, calle 3 mz J lote 2, ur...",1
47,Nancy Gisell Castillo Montenegro,"Av. Arenales 937, dpto. 302",1
49,Nicole Alexandra Valdez Gonzales,"Bateria Independencia 323, Urb. Santa Catalina",2
51,Rafael Eliseo Saenz Valladares,Av. Aramburu 550,7
53,Roxana Ruth Soncco Paucar,Av. La Floresta 497,4
56,Sheila Giuliana La Serna Jordan,"Ca. Los Robles 302, dpto 205A",16
57,Sonia Ruth Benavides Valera,Av. Caminos del Inca 171,1
59,Yolanda Elizabeth Menendez Bolaños,Av. La Encalada 1425,4
62,Ángela Gabriela Vallejos Gutierrez de Fuente,Jr. Los Lanceros 142 Urb. Los Cedros (Ref. Cd...,18

In [105]:
# Eliminar duplicados de tabla Clientes

df_clientes.drop_duplicates(subset='Nombre Apellido', keep='first', inplace=True)
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1829 entries, 0 to 1903
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID Cliente            1667 non-null   float64
 1   Origen                1802 non-null   object
 2   Sub Origen            1792 non-null   object
 3   Nota                  119 non-null    object
 4   Enviar                1829 non-null   object
 5   Nombre completo       1829 non-null   object
 6   Nombre                1824 non-null   object
 7   Nombre Apellido       1828 non-null   object
 8   Comentario en google  1828 non-null   object
 9   Celular               1693 non-null   object
 10  DNI                   559 non-null    object
 11  Cumpleaños            422 non-null    object
 12  Correo                642 non-null    object
 13  Dirección             516 non-null    object
 14  Distrito              683 non-null    object
 15  Provincia             685 non-null    object
 16  Departamento          685 non-null    object
 17  Unnamed: 17           0 non-null      float64
 18  Unnamed: 18           645 non-null    object
 19  Unnamed: 19           644 non-null    object
 20  Unnamed: 20           644 non-null    object
dtypes: float64(2), object(19)
memory usage: 314.4+ KB

In [106]:
# Reemplazar direcciones de clientes por las más habituales
df_clientes
df_delivery_most_frequent_address.rename(columns={'Cliente': 'Nombre Apellido'}, inplace=True) 


df_clientes = df_clientes.merge(
    df_delivery_most_frequent_address[['Nombre Apellido', 'Dirección']],
    on='Nombre Apellido',
    how='left',
    suffixes=('_old', '_new')
)
df_clientes['direccion'] = df_clientes['Dirección_new'].fillna(df_clientes['Dirección_old'])
df_clientes = df_clientes.drop(columns=['Dirección_old', 'Dirección_new'])

df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1829 entries, 0 to 1828
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID Cliente            1667 non-null   float64
 1   Origen                1802 non-null   object
 2   Sub Origen            1792 non-null   object
 3   Nota                  119 non-null    object
 4   Enviar                1829 non-null   object
 5   Nombre completo       1829 non-null   object
 6   Nombre                1824 non-null   object
 7   Nombre Apellido       1828 non-null   object
 8   Comentario en google  1828 non-null   object
 9   Celular               1693 non-null   object
 10  DNI                   559 non-null    object
 11  Cumpleaños            422 non-null    object
 12  Correo                642 non-null    object
 13  Distrito              683 non-null    object
 14  Provincia             685 non-null    object
 15  Departamento          685 non-null    object
 16  Unnamed: 17           0 non-null      float64
 17  Unnamed: 18           645 non-null    object
 18  Unnamed: 19           644 non-null    object
 19  Unnamed: 20           644 non-null    object
 20  direccion             516 non-null    object
dtypes: float64(2), object(19)
memory usage: 300.2+ KB

In [107]:
# Identificar Origenes

df_clientes['Origen'].unique()
df_clientes['Origen'] = df_clientes['Origen'].str.strip()
df_clientes['Origen'].unique()

# Cambiar palabras a letra capital
df_clientes['Origen'] = df_clientes['Origen'].str.capitalize()
df_clientes['Origen'].unique()

# corregir las palabras que no esten bien escritas

df_clientes['Origen'] = df_clientes['Origen'].str.replace('Llego a oficiana', 'Llego a oficina')
df_clientes['Origen'].unique()

array(['Feria', nan, 'Aplicativo', 'Referido', 'Publicidad', 'Redes',
       'Nutricionista', 'Web', 'Nod', 'Convenio', 'Consumidor',
       'Influencer', 'Llego a oficina', 'Nutrihappy', 'Taller',
       'Tienda verde', 'Desconocido', 'Rappi', 'Sorteo', 'Gisella'],
      dtype=object)

In [108]:
# Agregar ID a la tabla clientes
df_clientes['id_cliente'] = range(1, len(df_clientes) + 1)

In [109]:
# Crear df de origenes

df_origen_cliente = pd.DataFrame(df_clientes['Origen'].unique())
df_origen_cliente['id_origen'] = df_origen_cliente.index + 1
df_origen_cliente.columns = ['Origen', 'id_origen']

In [110]:
df_origen_cliente_carga = df_origen_cliente[['Origen', 'id_origen']]
df_origen_cliente_carga.columns = ['origen', 'id_origen']
df_origen_cliente_carga.fillna('N/A', inplace=True)

df_origen_cliente

             Origen  id_origen
0             Feria          1
1               NaN          2
2        Aplicativo          3
3          Referido          4
4        Publicidad          5
5             Redes          6
6     Nutricionista          7
7               Web          8
8               Nod          9
9          Convenio         10
10       Consumidor         11
11       Influencer         12
12  Llego a oficina         13
13       Nutrihappy         14
14           Taller         15
15     Tienda verde         16
16      Desconocido         17
17            Rappi         18
18           Sorteo         19
19          Gisella         20

In [30]:
# Cargar tabla origenes a tbl_origen_cliente

# Conexión PostgreSQL
from sqlalchemy import create_engine
import json

# Define the path to the credentials file
credentials_path = 'data_privada/credentials.json'

# Load credentials from the JSON file
with open(credentials_path, 'r') as f:
    credentials = json.load(f)

# Construir la cadena de conexión
db_connection_str = (
    f"postgresql://{credentials['user']}:{credentials['password']}@"
    f"{credentials['host']}:{credentials['port']}/{credentials['database']}"
)

db_connection = create_engine(db_connection_str)

# Cargar datos en la tabla
df_origen_cliente.to_sql(
    'tbl_origen_cliente',
    db_connection,
    schema='public',
    if_exists='append',  
    index=False
)

print("Datos de df_origen_cliente cargados exitosamente en KomaZanoTest.tbl_origen_cliente")

Datos de df_origen_cliente cargados exitosamente en KomaZanoTest.tbl_origen_cliente

In [111]:
df_clientes.columns

Index(['ID Cliente', 'Origen', 'Sub Origen', 'Nota', 'Enviar',
       'Nombre completo', 'Nombre', 'Nombre Apellido', 'Comentario en google',
       'Celular', 'DNI', 'Cumpleaños', 'Correo', 'Distrito', 'Provincia',
       'Departamento', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'direccion', 'id_cliente'],
      dtype='object')

In [112]:
# Cargando id_origen a df_clientes
#df_provincia = df_provincia.merge(df_departamentos[['id_departamento', 'Departamento']], on='Departamento', how='left')

df_clientes = df_clientes.merge(df_origen_cliente[['Origen', 'id_origen']], on='Origen', how='left')

In [142]:
df_clientes_carga = df_clientes[['id_cliente', 'Nombre completo', 'Nombre', 'DNI', 'Celular', 'Correo', 'Cumpleaños', 'id_origen', 'Sub Origen', 'Nota', 'Comentario en google', 'direccion', 'Distrito']]
df_clientes_carga.head()

,id_cliente,Nombre completo,Nombre,DNI,Celular,Correo,Cumpleaños,id_origen,Sub Origen,Nota,Comentario en google,direccion,Distrito
0,1,Gladys Suca Puca,Gladys,NaN,51992797017,NaN,NaN,1,APOA,Medico sin definir,NO,NaN,NaN
1,2,Nayla Garcia Gargatt,Nayla,NaN,51954689908,naylagarciang08@gmail.com,NaN,1,Nutriemprende,Licenciado en Nutrición,NO,NaN,Huacho
2,3,ABZ Ingenieros,ABZ Ingenieros,NaN,NaN,NaN,NaN,1,Corporativa,NaN,NO,NaN,NaN
3,4,Adolfo Jesús Samaniego Enriquez,Adolfo,70214000,51994725257,NaN,1992-02-03 00:00:00,2,NaN,NaN,NO,"Av. de las Artes Sur 373, dpto 402",San Borja
4,5,Adolfo Saldaña,Adolfo,NaN,51933423504,NaN,NaN,1,STARPERÚ,NaN,NO,NaN,NaN

In [143]:
df_clientes_carga.rename(columns={"Distrito": "nombre"}, inplace=True)
df_clientes_carga.head()

/tmp/ipykernel_3412/1693204697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clientes_carga.rename(columns={"Distrito": "nombre"}, inplace=True)

,id_cliente,Nombre completo,Nombre,DNI,Celular,Correo,Cumpleaños,id_origen,Sub Origen,Nota,Comentario en google,direccion,nombre
0,1,Gladys Suca Puca,Gladys,NaN,51992797017,NaN,NaN,1,APOA,Medico sin definir,NO,NaN,NaN
1,2,Nayla Garcia Gargatt,Nayla,NaN,51954689908,naylagarciang08@gmail.com,NaN,1,Nutriemprende,Licenciado en Nutrición,NO,NaN,Huacho
2,3,ABZ Ingenieros,ABZ Ingenieros,NaN,NaN,NaN,NaN,1,Corporativa,NaN,NO,NaN,NaN
3,4,Adolfo Jesús Samaniego Enriquez,Adolfo,70214000,51994725257,NaN,1992-02-03 00:00:00,2,NaN,NaN,NO,"Av. de las Artes Sur 373, dpto 402",San Borja
4,5,Adolfo Saldaña,Adolfo,NaN,51933423504,NaN,NaN,1,STARPERÚ,NaN,NO,NaN,NaN

In [144]:
df_clientes_carga = df_clientes_carga.merge(df_distritos_mapped[['nombre', 'id_distrito']], on='nombre', how='left')
df_clientes_carga.head()

,id_cliente,Nombre completo,Nombre,DNI,Celular,Correo,Cumpleaños,id_origen,Sub Origen,Nota,Comentario en google,direccion,nombre,id_distrito
0,1,Gladys Suca Puca,Gladys,NaN,51992797017,NaN,NaN,1,APOA,Medico sin definir,NO,NaN,NaN,NaN
1,2,Nayla Garcia Gargatt,Nayla,NaN,51954689908,naylagarciang08@gmail.com,NaN,1,Nutriemprende,Licenciado en Nutrición,NO,NaN,Huacho,NaN
2,3,ABZ Ingenieros,ABZ Ingenieros,NaN,NaN,NaN,NaN,1,Corporativa,NaN,NO,NaN,NaN,NaN
3,4,Adolfo Jesús Samaniego Enriquez,Adolfo,70214000,51994725257,NaN,1992-02-03 00:00:00,2,NaN,NaN,NO,"Av. de las Artes Sur 373, dpto 402",San Borja,NaN
4,5,Adolfo Saldaña,Adolfo,NaN,51933423504,NaN,NaN,1,STARPERÚ,NaN,NO,NaN,NaN,NaN

In [145]:
df_clientes_carga.columns

Index(['id_cliente', 'Nombre completo', 'Nombre', 'DNI', 'Celular', 'Correo',
       'Cumpleaños', 'id_origen', 'Sub Origen', 'Nota', 'Comentario en google',
       'direccion', 'nombre', 'id_distrito'],
      dtype='object')

In [146]:
df_clientes_carga.rename(columns={
    'id_cliente': 'id_cliente',
    'Nombre completo': 'nombre_completo',
    'Nombre': 'nombre_saludo',
    'DNI': 'dni',
    'Celular': 'celular',
    'Correo': 'correo',
    'Cumpleaños': 'fecha_cumpleanos',
    'id_origen': 'id_origen',
    'Sub Origen': 'sub_origen',
    'Nota': 'nota',
    'Comentario en google': 'comentario_google',
    'direccion': 'direccion',
    'id_distrito': 'id_distrito'
    }, inplace=True)

df_clientes_carga.head()

,id_cliente,nombre_completo,nombre_saludo,dni,celular,correo,fecha_cumpleanos,id_origen,sub_origen,nota,comentario_google,direccion,nombre,id_distrito
0,1,Gladys Suca Puca,Gladys,NaN,51992797017,NaN,NaN,1,APOA,Medico sin definir,NO,NaN,NaN,NaN
1,2,Nayla Garcia Gargatt,Nayla,NaN,51954689908,naylagarciang08@gmail.com,NaN,1,Nutriemprende,Licenciado en Nutrición,NO,NaN,Huacho,NaN
2,3,ABZ Ingenieros,ABZ Ingenieros,NaN,NaN,NaN,NaN,1,Corporativa,NaN,NO,NaN,NaN,NaN
3,4,Adolfo Jesús Samaniego Enriquez,Adolfo,70214000,51994725257,NaN,1992-02-03 00:00:00,2,NaN,NaN,NO,"Av. de las Artes Sur 373, dpto 402",San Borja,NaN
4,5,Adolfo Saldaña,Adolfo,NaN,51933423504,NaN,NaN,1,STARPERÚ,NaN,NO,NaN,NaN,NaN

In [135]:
df_clientes_carga = df_clientes_carga[['id_cliente', 'nombre_completo', 'nombre_saludo', 'dni', 'celular', 'correo', 'fecha_cumpleanos', 'id_origen', 'sub_origen', 'nota', 'comentario_google', 'direccion', 'id_distrito']]
df_clientes_carga.head()

,id_cliente,nombre_completo,nombre_saludo,dni,celular,correo,fecha_cumpleanos,id_origen,sub_origen,nota,comentario_google,direccion,id_distrito
0,1,Gladys Suca Puca,Gladys,NaN,51992797017,NaN,NaN,1,APOA,Medico sin definir,NO,NaN,NaN
1,2,Nayla Garcia Gargatt,Nayla,NaN,51954689908,naylagarciang08@gmail.com,NaN,1,Nutriemprende,Licenciado en Nutrición,NO,NaN,NaN
2,3,ABZ Ingenieros,ABZ Ingenieros,NaN,NaN,NaN,NaN,1,Corporativa,NaN,NO,NaN,NaN
3,4,Adolfo Jesús Samaniego Enriquez,Adolfo,70214000,51994725257,NaN,1992-02-03 00:00:00,2,NaN,NaN,NO,"Av. de las Artes Sur 373, dpto 402",NaN
4,5,Adolfo Saldaña,Adolfo,NaN,51933423504,NaN,NaN,1,STARPERÚ,NaN,NO,NaN,NaN

In [147]:
df_clientes_carga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1829 entries, 0 to 1828
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_cliente         1829 non-null   int64
 1   nombre_completo    1829 non-null   object
 2   nombre_saludo      1824 non-null   object
 3   dni                559 non-null    object
 4   celular            1693 non-null   object
 5   correo             642 non-null    object
 6   fecha_cumpleanos   422 non-null    object
 7   id_origen          1829 non-null   int64
 8   sub_origen         1792 non-null   object
 9   nota               119 non-null    object
 10  comentario_google  1828 non-null   object
 11  direccion          516 non-null    object
 12  nombre             683 non-null    object
 13  id_distrito        0 non-null      float64
dtypes: float64(1), int64(2), object(11)
memory usage: 200.2+ KB

In [ ]:
import numpy as np
#Corrigiendo formato de datos
df_clientes_carga['comentario_google'] = df_clientes_carga['comentario_google'].astype(bool)
f_clientes_carga['fecha_cumpleanos'] = pd.to_datetime(df_clientes_carga['fecha_cumpleanos'], errors='coerce')

df_clientes_carga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1829 entries, 0 to 1828
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_cliente         1829 non-null   int64
 1   nombre_completo    1829 non-null   object
 2   nombre_saludo      1824 non-null   object
 3   dni                559 non-null    object
 4   celular            1693 non-null   object
 5   correo             642 non-null    object
 6   fecha_cumpleanos   422 non-null    object
 7   id_origen          1829 non-null   int64
 8   sub_origen         1792 non-null   object
 9   nota               119 non-null    object
 10  comentario_google  1829 non-null   bool
 11  direccion          516 non-null    object
 12  nombre             683 non-null    object
 13  id_distrito        0 non-null      Int64
dtypes: Int64(1), bool(1), int64(2), object(10)
memory usage: 189.5+ KB

In [158]:
#Eliminar la columna nombre
df_clientes_carga = df_clientes_carga.drop(columns=['nombre'])
df_clientes_carga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1829 entries, 0 to 1828
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_cliente         1829 non-null   int64
 1   nombre_completo    1829 non-null   object
 2   nombre_saludo      1824 non-null   object
 3   dni                559 non-null    object
 4   celular            1693 non-null   object
 5   correo             642 non-null    object
 6   fecha_cumpleanos   422 non-null    datetime64[ns]
 7   id_origen          1829 non-null   int64
 8   sub_origen         1792 non-null   object
 9   nota               119 non-null    object
 10  comentario_google  1829 non-null   bool
 11  direccion          516 non-null    object
 12  id_distrito        0 non-null      Int64
dtypes: Int64(1), bool(1), datetime64[ns](1), int64(2), object(8)
memory usage: 175.2+ KB

In [162]:
# Cargar Datos de Clientes a Postgres
from sqlalchemy import create_engine
import json

# Define the path to the credentials file
credentials_path = 'data_privada/credentials.json'

# Load credentials from the JSON file
with open(credentials_path, 'r') as f:
    credentials = json.load(f)

# Construir la cadena de conexión
db_connection_str = (
    f"postgresql://{credentials['user']}:{credentials['password']}@"
    f"{credentials['host']}:{credentials['port']}/{credentials['database']}"
)

db_connection = create_engine(db_connection_str)

# Cargar datos en la tabla
df_clientes_carga.to_sql(
    'tbl_cliente',
    db_connection,
    schema='public',
    if_exists='append',  
    index=False
)

print("Datos de Clientes cargados exitosamente en KomaZanoTest.tbl_cliente")

Datos de Clientes cargados exitosamente en KomaZanoTest.tbl_cliente

## Tabla de ubicaciones: Distritos, Provincias y Departamentos

In [86]:
# Carga de excel
df = pd.read_excel('reporte_estadist.xlsx')
print(df.head())
print(df.columns)
print(df.info())

   Ubigeo Departamento Provincia  Distrito             Indicador  \
0   10202     AMAZONAS     BAGUA  ARAMANGO  Población proyectada
1   10201     AMAZONAS     BAGUA     BAGUA  Población proyectada
2   10203     AMAZONAS     BAGUA  COPALLIN  Población proyectada
3   10204     AMAZONAS     BAGUA  EL PARCO  Población proyectada
4   10205     AMAZONAS     BAGUA     IMAZA  Población proyectada

  Unidad de medida     2018     2019     2020     2021     2022   2023   2024  \
0         Personas  10422.0  10300.0  10149.0  10049.0   9919.0   9770   9613
1         Personas  29096.0  29540.0  29905.0  30240.0  30479.0  30652  30790
2         Personas   4903.0   4787.0   4660.0   4563.0   4452.0   4334   4213
3         Personas   1294.0   1292.0   1287.0   1281.0   1273.0   1262   1251
4         Personas  30392.0  31300.0  32136.0  32789.0  33338.0  33812  34240

    2025
0   9458
1  30921
2   4093
3   1240
4  34658
Index(['Ubigeo', 'Departamento', 'Provincia', 'Distrito', 'Indicador',
       'Unidad de medida', '2018', '2019', '2020', '2021', '2022', '2023',
       '2024', '2025'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1891 entries, 0 to 1890
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ubigeo            1891 non-null   int64
 1   Departamento      1891 non-null   object
 2   Provincia         1891 non-null   object
 3   Distrito          1891 non-null   object
 4   Indicador         1891 non-null   object
 5   Unidad de medida  1891 non-null   object
 6   2018              1874 non-null   float64
 7   2019              1874 non-null   float64
 8   2020              1889 non-null   float64
 9   2021              1889 non-null   float64
 10  2022              1889 non-null   float64
 11  2023              1891 non-null   int64
 12  2024              1891 non-null   int64
 13  2025              1891 non-null   int64
dtypes: float64(5), int64(4), object(5)
memory usage: 207.0+ KB
None

### Departamento

In [31]:
df_departamentos = df[['Departamento']].drop_duplicates()
print(df_departamentos.head(10))
print(df_departamentos['Departamento'].unique().size)
print(df_departamentos.info())

     Departamento
0        AMAZONAS
84         ANCASH
250      APURIMAC
335      AREQUIPA
444      AYACUCHO
568     CAJAMARCA
695        CALLAO
702         CUSCO
818  HUANCAVELICA
920       HUANUCO
25
<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, 0 to 1872
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Departamento  25 non-null     object
dtypes: object(1)
memory usage: 400.0+ bytes
None

In [32]:

df_departamentos['id_departamento'] = range(1, len(df_departamentos) + 1)


df_departamentos.head()

    Departamento  id_departamento
0       AMAZONAS                1
84        ANCASH                2
250     APURIMAC                3
335     AREQUIPA                4
444     AYACUCHO                5

In [33]:
df_departamentos.dropna()
df_departamentos.drop_duplicates(inplace=True)
df_departamentos

       Departamento  id_departamento
0          AMAZONAS                1
84           ANCASH                2
250        APURIMAC                3
335        AREQUIPA                4
444        AYACUCHO                5
568       CAJAMARCA                6
695          CALLAO                7
702           CUSCO                8
818    HUANCAVELICA                9
920         HUANUCO               10
1004            ICA               11
1047          JUNIN               12
1171    LA LIBERTAD               13
1255     LAMBAYEQUE               14
1293           LIMA               15
1464         LORETO               16
1517  MADRE DE DIOS               17
1528       MOQUEGUA               18
1549          PASCO               19
1578          PIURA               20
1643           PUNO               21
1753     SAN MARTIN               22
1831          TACNA               23
1859         TUMBES               24
1872        UCAYALI               25

In [ ]:
from sqlalchemy import create_engine

# Renombro las columnas para que coincidan con el nombre de las columnas de la tabla
df_departamentos_mapped = df_departamentos.rename(columns={
    'id_departamento': 'id_departamento',
    'departamento': 'nombre'
})

# Conexión PostgreSQL
import json

# Define the path to the credentials file
credentials_path = 'data_privada/credentials.json'

# Load credentials from the JSON file
with open(credentials_path, 'r') as f:
    credentials = json.load(f)

# Construir la cadena de conexión
db_connection_str = (
    f"postgresql://{credentials['user']}:{credentials['password']}@"
    f"{credentials['host']}:{credentials['port']}/{credentials['database']}"
)

db_connection = create_engine(db_connection_str)

# Cargar datos en la tabla
df_departamentos_mapped.to_sql(
    'tbl_departamento',
    db_connection,
    schema='public',
    if_exists='append',  
    index=False
)

print("Datos de df_departamentos cargados exitosamente en KomaZanoTest.tbl_departamento")

Datos de df_departamentos cargados exitosamente en KomaZanoTest.tbl_departamento

### Provincia

In [90]:
# Extraer Provincia y Departamento

df_provincia = df[['Provincia','Departamento']]
df_provincia.drop_duplicates(inplace=True)
df_provincia

/tmp/ipykernel_3412/1345960889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_provincia.drop_duplicates(inplace=True)

             Provincia Departamento
0                BAGUA     AMAZONAS
6              BONGARA     AMAZONAS
18         CHACHAPOYAS     AMAZONAS
39        CONDORCANQUI     AMAZONAS
42                LUYA     AMAZONAS
...                ...          ...
1868         ZARUMILLA       TUMBES
1872           ATALAYA      UCAYALI
1876  CORONEL PORTILLO      UCAYALI
1883        PADRE ABAD      UCAYALI
1890             PURUS      UCAYALI

[196 rows x 2 columns]

In [91]:
# Agregar id_provincia

df_provincia['id_provincia'] = range(1, len(df_provincia) + 1)
df_provincia.head()

/tmp/ipykernel_3412/3152856951.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_provincia['id_provincia'] = range(1, len(df_provincia) + 1)

       Provincia Departamento  id_provincia
0          BAGUA     AMAZONAS             1
6        BONGARA     AMAZONAS             2
18   CHACHAPOYAS     AMAZONAS             3
39  CONDORCANQUI     AMAZONAS             4
42          LUYA     AMAZONAS             5

In [92]:
# Agregar id_departamento segun nombre departamento

df_provincia = df_provincia.merge(df_departamentos[['id_departamento', 'Departamento']], on='Departamento', how='left')
df_provincia

NameError: name 'df_departamentos' is not defined

In [ ]:
# Ordenar nombres de columnas 

df_provincia_mapped = df_provincia.rename(columns={
    'Provincia': 'nombre'
})
df_provincia_mapped = df_provincia_mapped[['id_provincia', 'nombre', 'id_departamento']]
df_provincia_mapped

     id_provincia            nombre  id_departamento
0               1             BAGUA                1
1               2           BONGARA                1
2               3       CHACHAPOYAS                1
3               4      CONDORCANQUI                1
4               5              LUYA                1
..            ...               ...              ...
191           192         ZARUMILLA               24
192           193           ATALAYA               25
193           194  CORONEL PORTILLO               25
194           195        PADRE ABAD               25
195           196             PURUS               25

[196 rows x 3 columns]

In [ ]:
from sqlalchemy import create_engine
import json

# Define the path to the credentials file
credentials_path = 'data_privada/credentials.json'

# Load credentials from the JSON file
with open(credentials_path, 'r') as f:
    credentials = json.load(f)

# Construir la cadena de conexión
db_connection_str = (
    f"postgresql://{credentials['user']}:{credentials['password']}@"
    f"{credentials['host']}:{credentials['port']}/{credentials['database']}"
)

db_connection = create_engine(db_connection_str)

# Cargar datos en la tabla
df_provincia_mapped.to_sql(
    'tbl_provincia',
    db_connection,
    schema='public',
    if_exists='append',  
    index=False
)

print("Datos de df_provincia cargados exitosamente en KomaZanoTest.tbl_provincia")

Datos de df_departamentos cargados exitosamente en KomaZanoTest.tbl_provincia

### Distrito

In [87]:
df_distritos = df[['Ubigeo', 'Distrito', 'Provincia', 'Departamento']]
print(df_distritos.head())
print('La cantidad de duplicados es de: ', df_distritos.duplicated().sum())

   Ubigeo  Distrito Provincia Departamento
0   10202  ARAMANGO     BAGUA     AMAZONAS
1   10201     BAGUA     BAGUA     AMAZONAS
2   10203  COPALLIN     BAGUA     AMAZONAS
3   10204  EL PARCO     BAGUA     AMAZONAS
4   10205     IMAZA     BAGUA     AMAZONAS
La cantidad de duplicados es de:  0

In [ ]:
# Agregar id provincia

df_distritos = df_distritos.merge(df_provincia[['id_provincia', 'Provincia']], on='Provincia', how='left')
df_distritos

      Ubigeo    Distrito   Provincia Departamento  id_provincia
0      10202    ARAMANGO       BAGUA     AMAZONAS             1
1      10201       BAGUA       BAGUA     AMAZONAS             1
2      10203    COPALLIN       BAGUA     AMAZONAS             1
3      10204    EL PARCO       BAGUA     AMAZONAS             1
4      10205       IMAZA       BAGUA     AMAZONAS             1
...      ...         ...         ...          ...           ...
1886  250306     HUIPOCA  PADRE ABAD      UCAYALI           195
1887  250302     IRAZOLA  PADRE ABAD      UCAYALI           195
1888  250304     NESHUYA  PADRE ABAD      UCAYALI           195
1889  250301  PADRE ABAD  PADRE ABAD      UCAYALI           195
1890  250401       PURUS       PURUS      UCAYALI           196

[1891 rows x 5 columns]

In [117]:
#cambiar nombre de columnas

df_distritos_mapped = df_distritos.rename(columns={"Ubigeo": "id_distrito", 
                                                    "Distrito": "nombre",  
                                                    })
df_distritos_mapped = df_distritos_mapped[["id_distrito", "nombre", "id_provincia"]]
df_distritos_mapped

      id_distrito      nombre  id_provincia
0           10202    ARAMANGO             1
1           10201       BAGUA             1
2           10203    COPALLIN             1
3           10204    EL PARCO             1
4           10205       IMAZA             1
...           ...         ...           ...
1886       250306     HUIPOCA           195
1887       250302     IRAZOLA           195
1888       250304     NESHUYA           195
1889       250301  PADRE ABAD           195
1890       250401       PURUS           196

[1891 rows x 3 columns]

In [70]:
# Cargando datos a Postgres
from sqlalchemy import create_engine
import json

# Define the path to the credentials file
credentials_path = 'data_privada/credentials.json'

# Load credentials from the JSON file
with open(credentials_path, 'r') as f:
    credentials = json.load(f)

# Construir la cadena de conexión
db_connection_str = (
    f"postgresql://{credentials['user']}:{credentials['password']}@"
    f"{credentials['host']}:{credentials['port']}/{credentials['database']}"
)

db_connection = create_engine(db_connection_str)

# Cargar datos en la tabla
df_distritos_mapped.to_sql(
    'tbl_distrito',
    db_connection,
    schema='public',
    if_exists='append',  
    index=False
)

print("Datos de df_distrito cargados exitosamente en KomaZanoTest.tbl_distrito")

Datos de df_distrito cargados exitosamente en KomaZanoTest.tbl_distrito