# Proceso ETL

In [1]:
import pandas as pd

# Ruta del archivo
file_path = 'data_privada/Reporte.xlsx'

# Cargar todas las hojas
# sheet_name=None carga todas las hojas en un diccionario de DataFrames
dfs = pd.read_excel(file_path, sheet_name=None)

# Mostrar los nombres de las hojas cargadas
print("Hojas cargadas:", dfs.keys())

Hojas cargadas: dict_keys(['Fechas', 'Seguimiento', 'Delivery', 'Expo bebe', 'Clientes', 'Nombres', 'Ventas', 'Interbank', 'Lista', 'Gastos', 'Facturas', 'BBVA', 'Hoja1', 'Historia Venta', 'Rotación productos', 'Evolución costos', 'Detalle1', 'Lista de precios', 'Gasto Redes', 'Nación'])

In [ ]:
#Extraer datos de tabla Clientes a DataFrame
df_clientes = dfs['Clientes']
df_clientes.head()

,ID Cliente,Origen,Sub Origen,Nota,Enviar,Nombre completo,Nombre,Nombre Apellido,Comentario en google,Celular,...,Cumpleaños,Correo,Dirección,Distrito,Provincia,Departamento,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1.0,Feria,APOA,Medico sin definir,Si,Gladys Suca Puca,Gladys,Gladys Suca Puca,NO,51992797017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Feria,Nutriemprende,Licenciado en Nutrición,Si,Nayla Garcia Gargatt,Nayla,Nayla Garcia Gargatt,NO,51954689908,...,NaN,naylagarciang08@gmail.com,NaN,Huacho,Huaura,Lima,NaN,Huacho,Huaura,Lima
2,3.0,Feria,Corporativa,NaN,No,ABZ Ingenieros,ABZ Ingenieros,ABZ Ingenieros,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,NaN,NaN,Si,Adolfo Jesús Samaniego Enriquez,Adolfo,Adolfo Jesús Samaniego Enriquez,NO,51994725257,...,1992-02-03 00:00:00,NaN,"Av. de las Artes Sur 373, dpto 402",San Borja,Lima,Lima,NaN,San Borja,Lima,Lima
4,5.0,Feria,STARPERÚ,NaN,Si,Adolfo Saldaña,Adolfo,Adolfo Saldaña,NO,51933423504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Ver info de Dataframe
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID Cliente            1741 non-null   float64
 1   Origen                1874 non-null   object
 2   Sub Origen            1864 non-null   object
 3   Nota                  125 non-null    object
 4   Enviar                1904 non-null   object
 5   Nombre completo       1904 non-null   object
 6   Nombre                1898 non-null   object
 7   Nombre Apellido       1903 non-null   object
 8   Comentario en google  1903 non-null   object
 9   Celular               1761 non-null   object
 10  DNI                   592 non-null    object
 11  Cumpleaños            451 non-null    object
 12  Correo                677 non-null    object
 13  Dirección             556 non-null    object
 14  Distrito              733 non-null    object
 15  Provincia             735 non-null    object
 16  Departamento          735 non-null    object
 17  Unnamed: 17           0 non-null      float64
 18  Unnamed: 18           694 non-null    object
 19  Unnamed: 19           693 non-null    object
 20  Unnamed: 20           693 non-null    object
dtypes: float64(2), object(19)
memory usage: 312.5+ KB

In [ ]:
# Obtener clientes con duplicados y crear lista de nombres únicos

df_clientes_dupli = df_clientes[df_clientes['Nombre completo'].duplicated(keep=False)]
df_clientes_dupli = df_clientes_dupli[['Nombre Apellido', 'Dirección']]
df_clientes_dupli
df_clientes_nombres_unicos = df_clientes_dupli['Nombre Apellido'].drop_duplicates().tolist()
df_clientes_nombres_unicos

['Alejandra Victoria Gutiérrez Honores',
 'Ana Miluska Martina Zegarra Figueroa',
 'Andrés + Gisella',
 'Ángela Gabriela Vallejos Gutierrez de Fuente',
 'Benigno Lima',
 'Casa',
 'Cecilia Vergara',
 'Clorinda Quispe',
 'Dayana Subhey Ibarra Bringas',
 'Diana Torres',
 'Elizabeth',
 'Emilia Sotelo',
 'Erick Japay',
 'Gissela Carrasco Baldeón',
 'Gloria Ysabel Magallanes Lopez',
 'Haydee Ayma Huallpa',
 'Janeth Churata',
 'Jose Carlos Duran ',
 'Zanabria',
 'Julissa Díaz',
 'Kerly Zabastizagal',
 'Liliana Hoffmann',
 'Lisbeth Sánchez Torres',
 'Luis Salazar',
 'Salazar',
 'María del Carmen Cáceres Ríos',
 'María Cieza',
 'María Bringas',
 'María Ormeño',
 'Maribel Flores',
 'Mariela Fernanda Paredes Wong',
 'Marny Silva',
 'Martha Margarita Rodríguez Salazar',
 'Mayra Fiorella Sánchez Soyer',
 'Mewsette Pozo',
 'Miguel Angel Rosado Bustamante',
 'Murga',
 'Nelluy Murga',
 'NI',
 nan,
 'Nicole Alexandra Valdez Gonzales ',
 'Nutripack',
 'Sheila Giuliana La Serna Jordan',
 'Sonia Ruth Benavides Valera',
 'Palma',
 'Munaris',
 'Tatiana Munaris',
 'Gabriela Lorena Perez Ayme',
 'Rafael Eliseo Saenz Valladares',
 'Stefany Palma Diaz',
 'Elvira Palomino Caycho',
 'Roxana Ruth Soncco Paucar',
 'Yolanda Elizabeth Menendez Bolaños',
 'Nancy Gisell Castillo Montenegro',
 'Daniel Edinson Chancafe Rosas']

In [17]:
# Obtener datos de deliverys

df_delivery = dfs['Delivery']
df_delivery

,Fecha de envío,Empresa,Cliente,Dirección,Departamento,Provincia,Distrito,Empresa Delivery,Costo Delivery,Fecha de pago,Medio de pago,Numero de Factura,Fecha de Factura,Monto Facturado,En ruta,Comentario
0,2020-09-03 00:00:00,Nutripack,Alfredo Kenji Lau-Tam Oyafuso,NaN,NaN,NaN,NaN,NaN,14.30,2020-09-03,NaN,NaN,NaT,0.00,No,NaN
1,2020-09-26 00:00:00,Nutripack,Fátima Cabello,"Jr. Talara 160, dpto 503 A",Lima,Lima,Jesus Maria,Desconocido,16.00,2020-09-26,NaN,NaN,NaT,0.00,No,NaN
2,2020-11-17 00:00:00,Nutripack,Fátima Cabello,"Jr. Talara 160, dpto 503 A",Lima,Lima,Jesus Maria,Desconocido,16.00,2020-11-17,NaN,NaN,NaT,0.00,No,NaN
3,2020-11-27 00:00:00,Nutripack,María del Carmen Cáceres Ríos,"Av. Javier Prado Este 292 dpto F 102, Condomin...",Lima,Lima,La Molina,Desconocido,8.30,2020-11-27,BCP,NaN,NaT,0.00,No,NaN
4,2020-12-02 00:00:00,Nutripack,Erick Japay,NaN,NaN,NaN,NaN,NaN,24.84,2020-12-02,BCP,NaN,NaT,0.00,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,2025-11-17 00:00:00,Nutripack,Liliana Jakeliny Ferroñan Vilchez,Av. Chimbote Mz L Lote 9 Urbanización Buenos A...,Ancash,Santa,Chimbote,Olva,15.21,2025-11-17,YAPE,F477-01435796,2025-11-17,15.21,No,Entrega en agencia
1000,2025-11-17 00:00:00,Nutripack,Rafael Eliseo Saenz Valladares,"Psj. Leonidas Laserre, Urb. Las Praderas de Su...",Lima,Lima,Santiago de Surco,Indriver,10.00,2025-11-17,YAPE,NaN,NaT,NaN,No,NaN
1001,2025-11-18 00:00:00,Nutripack,Andrea Cecilia Tapia Cochaches,"Ca. El Arroyo Mz I Lt 58, Las praderas de Sant...",Lima,Lima,Santa Anita,Indriver,12.00,2025-11-18,YAPE,NaN,NaT,NaN,No,NaN
1002,2025-11-18 00:00:00,Nutripack,Yolanda García,Jr. Breton 271,Lima,Lima,San Borja,Indriver,5.00,2025-11-18,YAPE,NaN,NaT,NaN,No,NaN
1003,2025-11-19 00:00:00,Nutripack,Olga Fiorella Huatuco Collantes,"Jr. El Velero 530, Urb. Las Lagunas de la Molina",Lima,Lima,La Molina,Indriver,10.00,2025-11-19,YAPE,NaN,NaT,NaN,No,NaN

In [24]:
# Filtrar df_delivery con los nombres únicos de df_clientes

df_delivery_filtrado = df_delivery[df_delivery['Cliente'].isin(df_clientes_nombres_unicos)]

df_delivery_filtrado

,Fecha de envío,Empresa,Cliente,Dirección,Departamento,Provincia,Distrito,Empresa Delivery,Costo Delivery,Fecha de pago,Medio de pago,Numero de Factura,Fecha de Factura,Monto Facturado,En ruta,Comentario
3,2020-11-27 00:00:00,Nutripack,María del Carmen Cáceres Ríos,"Av. Javier Prado Este 292 dpto F 102, Condomin...",Lima,Lima,La Molina,Desconocido,8.30,2020-11-27,BCP,NaN,NaT,0.0,No,NaN
4,2020-12-02 00:00:00,Nutripack,Erick Japay,NaN,NaN,NaN,NaN,NaN,24.84,2020-12-02,BCP,NaN,NaT,0.0,No,NaN
7,2020-12-11 00:00:00,Nutripack,Haydee Ayma Huallpa,NaN,NaN,NaN,NaN,NaN,6.12,2020-12-11,BCP,NaN,NaT,0.0,No,NaN
9,2020-12-18 00:00:00,Nutripack,María del Carmen Cáceres Ríos,"Av. Javier Prado Este 292 dpto F 102, Condomin...",Lima,Lima,La Molina,Desconocido,6.00,2020-12-18,BCP,NaN,NaT,0.0,No,NaN
11,2021-01-08 00:00:00,Nutripack,María del Carmen Cáceres Ríos,"Av. Javier Prado Este 292 dpto F 102, Condomin...",Lima,Lima,La Molina,Desconocido,7.00,2020-12-10,NaN,NaN,NaT,0.0,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,2025-11-03 00:00:00,Nutripack,Yolanda Elizabeth Menendez Bolaños,Av. La Encalada 1425,Lima,Lima,Santiago de Surco,Indriver,9.30,2025-11-03,YAPE,NaN,NaT,NaN,No,NaN
987,2025-11-08 00:00:00,Nutripack,Gloria Ysabel Magallanes Lopez,"Ca. Luis Pasteur 1228, dpto 302",Lima,Lima,Lince,Indriver,10.10,2025-11-06,YAPE,NaN,NaT,NaN,No,NaN
988,2025-11-10 00:00:00,Nutripack,Roxana Ruth Soncco Paucar,Av. La Floresta 497,Lima,Lima,San Borja,Indriver,5.00,2025-11-10,YAPE,NaN,NaT,NaN,No,NaN
991,2025-11-12 00:00:00,Nutripack,Yolanda Elizabeth Menendez Bolaños,Av. La Encalada 1425,Lima,Lima,Santiago de Surco,Indriver,6.20,2025-11-12,YAPE,NaN,NaT,NaN,No,NaN
1000,2025-11-17 00:00:00,Nutripack,Rafael Eliseo Saenz Valladares,"Psj. Leonidas Laserre, Urb. Las Praderas de Su...",Lima,Lima,Santiago de Surco,Indriver,10.00,2025-11-17,YAPE,NaN,NaT,NaN,No,NaN

In [25]:
# Contar cantidad de envios por cliente y por dirección

df_delivery_most_frequent_address = df_delivery_filtrado.groupby(['Cliente', 'Dirección']).size().reset_index(name='count')
df_delivery_most_frequent_address

,Cliente,Dirección,count
0,Alejandra Victoria Gutiérrez Honores,"Ca. Claude Monteverdi 175, dpto 202",6
1,Alejandra Victoria Gutiérrez Honores,"Jr. 28 de Julio 261, dpto 603 (Ref. Av. Brasil...",16
2,Ana Miluska Martina Zegarra Figueroa,"Av. Intihuatana 431, dpto 203",1
3,Ana Miluska Martina Zegarra Figueroa,"Ca. Matarani 248, dpto 502, Urb. Tambo de Mont...",1
4,Cecilia Vergara,Av. Mariano Cornejo 1299 (Ref. 2 cdras. Plaza ...,1
...,...,...,...
58,Sonia Ruth Benavides Valera,Ca. Pietro Marchand 145,1
59,Yolanda Elizabeth Menendez Bolaños,Av. La Encalada 1425,4
60,Yolanda Elizabeth Menendez Bolaños,Av.La Floresta 497,1
61,Ángela Gabriela Vallejos Gutierrez de Fuente,"Av. Circunvalacion del Golf Los Incas 843, dpt...",1
62,Ángela Gabriela Vallejos Gutierrez de Fuente,Jr. Los Lanceros 142 Urb. Los Cedros (Ref. Cd...,18

In [ ]:
# Separar la dirección con más repeticiones por cliente

df_delivery_most_frequent_address = df_delivery_most_frequent_address.loc[df_delivery_most_frequent_address.groupby('Cliente')['count'].idxmax()] # agrupa por cliente, luego bus el valor más alto de 'count' y devuelve su índice. Con este valor la funcion 'loc' devuelve la fila con el valor más alto de 'count' 
df_delivery_most_frequent_address

,Cliente,Dirección,count
1,Alejandra Victoria Gutiérrez Honores,"Jr. 28 de Julio 261, dpto 603 (Ref. Av. Brasil...",16
2,Ana Miluska Martina Zegarra Figueroa,"Av. Intihuatana 431, dpto 203",1
5,Cecilia Vergara,Ca. Cuathemoc 269 Urb. Maranga (Ref. cdra 3 de...,3
7,Daniel Edinson Chancafe Rosas,Jr. Tacna 3852,3
9,Dayana Subhey Ibarra Bringas,Av. Sancho Rivera 1108,14
11,Elvira Palomino Caycho,Jr. Nazca 458,2
12,Emilia Sotelo,"Jr. Nicolás Rodrigo 365, dpto 102 torre A Cond...",35
14,Erick Japay,"AH Santa María Mz A Lt 21 (-12.042195, -76.923...",5
16,Gabriela Lorena Perez Ayme,"Calle Chinchón 1018 piso 7, San Isidro",1
17,Gissela Carrasco Baldeón,Av. Mariscal Cáceres 163,2
19,Gloria Ysabel Magallanes Lopez,"Ca. Luis Pasteur 1228, dpto 302",10
21,Haydee Ayma Huallpa,Jr. Los Cibeles 190 (Ref. frente al complejo p...,5
23,Janeth Churata,"Los Canarios 1238 (Ref. -12.0137085,-77.0004493)",4
24,Julissa Díaz,"Av. El Derby 254, ofi. 903",1
25,Liliana Hoffmann,Habichtweg 17 Herten 45699 (País: Alemania),1
27,Lisbeth Sánchez Torres,"Av. Arenales 1475, dpto 1108",5
31,Marny Silva,"Ca. 15, Alameda de Ate 2da etapa Mz LL, Lt 10 ...",5
34,Martha Margarita Rodríguez Salazar,Av. Jorge Díaz Velázquez Mz D2 Lt 10 Sector 3 ...,8
37,María Cieza,"Jr. José Nicolás Rodrigo 365, dpto 523",1
39,María del Carmen Cáceres Ríos,"Jr. República del Libano 155, dpto 303",48
40,Mayra Fiorella Sánchez Soyer,Av. San Luis 1923,1
42,Mewsette Pozo,"Av. La Paz 3005, ofi. 301",1
44,Miguel Angel Rosado Bustamante,"Av. Alameda Sur, cdra, calle 3 mz J lote 2, ur...",1
47,Nancy Gisell Castillo Montenegro,"Av. Arenales 937, dpto. 302",1
49,Nicole Alexandra Valdez Gonzales,"Bateria Independencia 323, Urb. Santa Catalina",2
51,Rafael Eliseo Saenz Valladares,Av. Aramburu 550,7
53,Roxana Ruth Soncco Paucar,Av. La Floresta 497,4
56,Sheila Giuliana La Serna Jordan,"Ca. Los Robles 302, dpto 205A",16
57,Sonia Ruth Benavides Valera,Av. Caminos del Inca 171,1
59,Yolanda Elizabeth Menendez Bolaños,Av. La Encalada 1425,4
62,Ángela Gabriela Vallejos Gutierrez de Fuente,Jr. Los Lanceros 142 Urb. Los Cedros (Ref. Cd...,18

In [27]:
# Eliminar duplicados de tabla Clientes

df_clientes.drop_duplicates(subset='Nombre Apellido', keep='first', inplace=True)
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1829 entries, 0 to 1903
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID Cliente            1667 non-null   float64
 1   Origen                1802 non-null   object
 2   Sub Origen            1792 non-null   object
 3   Nota                  119 non-null    object
 4   Enviar                1829 non-null   object
 5   Nombre completo       1829 non-null   object
 6   Nombre                1824 non-null   object
 7   Nombre Apellido       1828 non-null   object
 8   Comentario en google  1828 non-null   object
 9   Celular               1693 non-null   object
 10  DNI                   559 non-null    object
 11  Cumpleaños            422 non-null    object
 12  Correo                642 non-null    object
 13  Dirección             516 non-null    object
 14  Distrito              683 non-null    object
 15  Provincia             685 non-null    object
 16  Departamento          685 non-null    object
 17  Unnamed: 17           0 non-null      float64
 18  Unnamed: 18           645 non-null    object
 19  Unnamed: 19           644 non-null    object
 20  Unnamed: 20           644 non-null    object
dtypes: float64(2), object(19)
memory usage: 314.4+ KB

In [ ]:
# Reemplazar direcciones de clientes por las más habituales
df_clientes
df_delivery_most_frequent_address